@import "reset";

* {
  box-sizing: border-box;
}

$qty: 3;
$gap: 2%;
$width: (100% - ($qty - 1) * $gap) / $qty;

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
}

.ctn {
  width: 100vw;
}

.gallery {
  padding: 10px 10px 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vw;
  display: grid;
  grid-template-columns: $width $width $width;
  grid-template-rows: $width $width $width;
  grid-column-gap: $gap;
  grid-row-gap: $gap;
  justify-items: stretch;
  align-items: stretch;
}

.gallery__item {
  position: relative;
  overflow: hidden;

  &--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &--video {
    transform: translate(-33px, 2px);
  }

  &--video-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    //opacity: 0.5;
    //transform: scale(0.88) translate(-74px, -24px);
  }
}

.text {
  text-align: center;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  max-width: 60%;

  h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  h4 {
    font-weight: bold;
    margin-top: 0;
    font-size: 15px;
    font-family: sans-serif;
  }
}

.gallery__item video {
  height: 100%;
}

@media screen and (min-width: 830px) {
  body {
    display: block;
  }

  .ctn {
    width: auto;
  }

  .gallery {
    position: fixed;
    width: 85vh;
    height: 85vh;
    max-height: 85vh;
  }

  .text {
    height: 15vh;
    top: 85vh;
    position: fixed;
  }
}
